.col-md-12{style: "margin-top: 100px"}
  %a{class: 'btn btn-lg btn-block', style: 'margin-bottom: 20px;'} Notes in one place
  %p{style: "text-align: center;"}
    %span{class: "fas fa-book-open fa fa-10x icon", style: "text-align: center; display: inline-block"}
  = link_to 'Sign in', user_session_path, class: 'btn btn-lg btn-block'
